
   <!-- Footer Section -->
   <footer  id="footer" class="footer spad">
         <div class="container">
             <div class="row">
                 <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer__about">
                         <div class="footer__about__logo">
                            <a th:href="@{/bookworld/index}"><img th:src="@{/assets/img/logo.png}" width="60px" alt=""></a>
                         </div>
                         <ul>
                             <li>Cần Thơ</li>
                             <li>Phone: +84 123456789</li>
                             <li>Email: abcdez@gmail.com</li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                     <div class="footer__widget">
                         <h6>Liên kết hữu ích</h6>
                         <ul>
                             <li><a href="#">Về chúng tôi</a></li>
                             <li><a href="#">Về Cửa Hàng Của</a></li>
                             <li><a href="#">Mua Sách</a></li>
                             <li><a href="#">Giao Hàng</a></li>
                             <li><a href="#">Hiếu PC</a></li>
                             <li><a href="#">Our Sitemap</a></li>
                         </ul>
                         <ul>
                             <li><a href="#">Tài kc2</a></li>
                             <li><a href="#">Hành trình Rớt kc 2</a></li>
                             <li><a href="#">Siuuuuuuu</a></li>
                             <li><a href="#">hahaa</a></li>
                             <li><a href="#">huhu</a></li>
                             <li><a href="#">ricon</a></li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-12">
                     <div class="footer__widget">
                         <h6>Liên Hệ Chúng Tôi</h6>
                         <p>Nhận thông tin cập nhật qua email về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.</p>
                         <form action="#">
                             <input type="text" placeholder="Nhập Gmail">
                             <button type="submit" class="site-btn">Gửi</button>
                         </form>
                         <div class="footer__widget__social">
                             <a href="#"><i class="fa-brands fa-facebook"></i></a>
                             <a href="#"><i class="fa-brands fa-instagram"></i></a>
                             <a href="#"><i class="fa-brands fa-twitter"></i></a>
                             <a href="#"><i class="fa-brands fa-instagram"></i></a>
                         </div>
                         
                     </div>
                     
                 </div>
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__copyright">
                            <div class="footer__copyright__payment"><img th:src="@{/assets/img/payment-item.png}" alt=""></div>
                        </div>
                    </div>
                </div>
             </div>
         
         </div>
     </footer>

     <!-- Footer Section End -->
 