<section id="product">
            <!-- Categories Section Begin -->
 <section class="categories">
         <div class="container">
             <div class="row">
                 <div class="categories__slider owl-carousel">
                     <div class="col-lg-3">
                         <div class="categories__item set-bg" data-setbg ="" >
                           <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                             <h5><a href="#">Sách 1</a></h5>
                         </div>
                    
                     </div>
                     <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="" >
                                    <img th:src="@{/assets/assets/css/img.index/Sach1.jpg}"  alt="">
                             <h5><a href="#">Sách 2</a></h5>
                         </div>
                     </div>
                     <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="" >
                                    <img th:src="@{/assets/assets/css/img.index/Sach1.jpg}"  alt="">
                             <h5><a href="#">Sách 3</a></h5>
                         </div>
                     </div>
                     <div class="col-lg-3">
                         <div class="categories__item set-bg" data-setbg="" >
                           <img th:src="@{/assets/css/img.index/Sach4.jpg}"  alt="">
                             <h5><a href="#">Sách 4</a></h5>
                         </div>
                     </div>
                     <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="" >
                                    <img th:src="@{/assets/css/img.index/Sach.jpg}"  alt="">
                             <h5><a href="#">Sách 5</a></h5>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </section> 
     <!-- Categories Section End -->
     
     
         <!-- Featured Section Begin -->
         <section class="featured spad1">
             <div class="container">
      
     
     
                <div class="row featured__filter">
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg">
                                    <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                    <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                    <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                    <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                    <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                    <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                    <img th:src="@{/assets/css/img.index/Sach1.jpg}"  alt="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                   
                 </div> 
      
             </div>
         </section>
         <!-- Featured Section End -->
     
     
         <div class="card">
             <div class="card-header btn"  data-toggle="collapse" data-target="#noidungcard">
               Xem Thêm
             </div>
             <div class="card-body collapse"  data-toggle="collapse"  aria-expanded="false" id="noidungcard">
         <section class="featured spad">
             <div class="container">
                <div class="row featured__filter">
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 2</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                   
                 </div> 
      
             </div>
         </section>
         <!-- Featured Section End -->
         
             </div>
         </div>
     
         <!-- Featured Section Begin -->
         <section class="featured spad2">
             <div class="container">
                <div class="row featured__filter">
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                   
                 </div> 
      
             </div>
         </section>
         <!-- Featured Section End -->
     
         <div class="card">
             <div class="card-header btn"  data-toggle="collapse" data-target="#noidungcard2">
               Xem Thêm
             </div>
             <div class="card-body collapse"  data-toggle="collapse"  aria-expanded="false" id="noidungcard2">
         <section class="featured spad">
             <div class="container">
                <div class="row featured__filter">
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 2</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                   
                 </div> 
      
             </div>
         </section>
         <!-- Featured Section End -->
             </div>
         </div>
     
         <!-- Featured Section Begin -->
         <section class="featured spad3">
             <div class="container">
                <div class="row featured__filter">
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                   
                 </div> 
      
             </div>
         </section>
         <!-- Featured Section End -->
     
</section>