<!-- link html demo chạy không server  -->
 <!-- <link rel="stylesheet" href="..//static/assets/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="..//static/assets/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="..//static/assets/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="..//static/assets/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="..//static/assets/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="..//static/assets/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="..//static/assets/css/style.css" type="text/css">

<script src="..//static/assets/css/js/jquery-3.3.1.min.js"></script>
<script src="..//static/assets/css/js/bootstrap.min.js"></script>
<script src="..//static/assets/css/js/jquery.nice-select.min.js"></script>
<script src="..//static/assets/css/js/jquery-ui.min.js"></script>
<script src="..//static/assets/css/js/jquery.slicknav.js"></script>
<script src="..//static/assets/css/js/mixitup.min.js"></script>
<script src="..//static/assets/css/js/owl.carousel.min.js"></script>
<script src="..//static/assets/css/js/main.js"></script>    -->
<!-- link html demo chạy không server  -->


<!-- Link chính -->
<script th:src="@{/assets/css/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/css/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/css/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/assets/css/js/jquery-ui.min.js}"></script>
<script th:src="@{/assets/css/js/jquery.slicknav.j}"></script>
<script th:src="@{/assets/css/js/mixitup.min.js}"></script>
<script th:src="@{/assets/css/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/css/js/main.js}"></script>