
:root {
    --mau-border: #DEE2E6;
    --mau-icon: #67748E;

    --mau-dong-bo:#CA2F2F;

    /* Màu chữ */
    --mau-chu-sidebar:#CA2F2F;
    --mau-chu-mac-dinh-sidebar :#67748E;
  
    /* Button */
    --mau-btn-xoa :#c82333;
    --mau-list__btn:#F6F7F8;
    --mau-btn-cap-nhat :#28a745;
    --mau-chu-btn-hover: #212529;
    --mau-btn-thong-tin: #006adb;
    --mau-btn-active: rgba(254, 67, 67, 0.08);
    /* backgroud */
    --mau-bg-hover-tr: #f5f5f5;
    --mau-bg-header-table:#FAFBFE;
}



#header {
    background-color: #fff;
    border-bottom: 1px solid var(--mau-border);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}   

.header-left {
    border-right: 1px solid var(--mau-border);
    padding: 0px 20px !important;
}
.header-left__logo .logo-box {
    width: 100%;
    height: 58px;
}
.header-left__logo .logo-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-right .header-right__navbar {
    background-color: #fff !important;
}
.header-right .header-search-inputs {
    padding: 0 15px;
    position: relative;
}
.header-right .header-search-inputs > .header-right__input-search {
    width: 230px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #F6F6F7;
    padding: 0 8px 0 40px;
    border-radius: 50px;
}
.header-right .header-search-inputs > .header-right__btn-search {
    width: 27px;
    height: 27px;
    z-index: 9;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--mau-icon);
}
.header-right .header-search-inputs > .header-right__input-search:focus {
    border-color: none !important;
    box-shadow: none !important;
}
.header-right .header-search-inputs > .header-right__btn-search.btn:hover {
    background-color: transparent !important;
}
.header-right__list {
    padding-right: 15px;
    display: flex;
    align-items: center;
}
.header-right__list .list__btn ,.table-top__wordset .navbar-nav .nav-item{
    background: var(--mau-list__btn);
    border-radius: 8px;
    margin-right: 5px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-right__list .list__btn .dropdown-menu ,
.header-right__list .list-user .dropdown-menu{
    left: auto;
    right: 0px;
    margin: 0px;
    transform: translate3d(0px,10px, 0px);
    padding: 15px;
    min-width: 210px;
}
 .list__btn .dropdown-menu li a,
 .list-user .dropdown-menu li a {
    padding: 10px 10px;
    color: #67748E;
    border-radius: 10px;
    transition: none;
}
.header-right__list .list__btn .nav-link::after {
    content: none;
}
.header-right__list .list-user{
    position: relative;
}
.header-right__list .list-user .dropdown-toggle::after {
    margin-left: 10px;
    margin-top: 13px;
}
.header-right__list .list-user .nav-link {
    padding: 0;
    display: flex;
    line-height: normal;
    color: #212B36;
}
.header-right__list .list-user .list-user__user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.list-user__user-info .user-letter {
    background: #1B2950;
    color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
    object-fit: contain;
}
.list-user__user-info .user-letter img {
    width: 100%;
    height: 100%;
}
.list-user__user-info .user-detail .user-name {
    font-size: 15px;
    font-weight: 600;
    color: #1B2950;
    display: flex;
    align-items: center;
}
.list-user__user-info .user-detail .user-role {
    display: block;
    color: #67748E;
    font-size: 12px;
}


#content {
    padding: 58px 0px 0px 0px;
    height: 100%;
}
#content aside, #content article {
    padding: 20px;
}
#content aside {
    border-right: 1px solid var(--mau-border);
    min-height: 100vh;
}
#content article .card.page-wrapper {
    border: 1px solid var(--mau-border);
    border-radius: 6px;
    min-height: 100%;
}
.page-wrapper .page-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 15px;
    margin: 0px 0px 0px auto;
    background: var(--mau-chu-sidebar);
    min-width: 200px;
    max-width: 300px;
    height: 36px;
    border-radius:0px 6px 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(17px, -16px);
}
#content article .card.page-wrapper .nav .nav-link {
    color: var(--mau-chu-mac-dinh-sidebar);

}
#content article .card.page-wrapper .nav .nav-link.active {
    color: var(--mau-chu-sidebar);
}
.table-top__wordset > .navbar  .collapse ,
.table-top__wordset > .navbar  {
    background-color: #fff !important;
}
.card.page-wrapper  .table thead{
    background: var(--mau-bg-header-table) ;
    border-bottom: 1px solid #E9ECEF;
}

.table th {
    position: relative;
}
.table th::after {
    position: absolute;
    right: 0.5em;
    content: "\F283";
    font-family: "Bootstrap-icons";
    top: 14px;
    color: #BABFC7;
    font-size: 12px;
    opacity: 1;
    bottom: 0.9em;
    display: block;
}
.table tr td {
    padding: 15px;
    color: #637381;
    font-weight: 500;
    border-bottom: 1px solid #E9ECEF;
    vertical-align: middle;
    white-space: nowrap;
}
.table thead th {
    font-weight: 600;
    color: #212B36;
    padding: 10px;
    white-space: nowrap;
}

.table .td-action .btn {
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    border-radius: 0;
    letter-spacing: .05rem;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;

}
.table .td-action .btn:hover span{
    color: var(--mau-chu-btn-hover) !important;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    font-weight: bold;
    z-index: 5;
}
.table .td-action .btn:hover {
    color: #fff;
}
.table .td-action .action__btn-success:hover{
    background-color: var(--mau-btn-cap-nhat);
    border-color:var(--mau-btn-cap-nhat);

}
.table .td-action .btn:hover:before {
    width: calc(100% - 2px);
    color: var(--mau-chu-btn-hover);
}
.table-responsive {
    overflow-y: scroll;
    max-height: 400px; 
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    transition: all 0.3s ease;
    
}
.table .td-action .btn:before {
    position: absolute;
    content: "";
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    overflow: hidden;
    width: 0;
    z-index: 1;
    background: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.table .td-action .action__btn-success{
    background-color: var(--mau-btn-cap-nhat);
}
.table  .td-action .action__btn-danger{
    background-color: var(--mau-btn-xoa);
}
.table  .td-action .action__btn-info{
    background-color: var(--mau-btn-thong-tin);
}

#content .card.page-wrapper .table-top{
    margin-bottom: 25px;
}
/*  Sidebar */
#sidebar-menu .sidebar-menu__submenu {
    padding-left: 0px;
    list-style-type: none;
}
.sidebar {
    background-color: transparent;
    border-right: 1px solid transparent;
    margin-top: 0;
    /* z-index: 1001; */
    position: fixed;
    /* top: 60px; */
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-right: 1px solid #E8EBED;
    width: 260px;

}
#sidebar-menu .submenu-hdr {
    font-weight: 500;
    font-size: 14px;
    color: #1B2950;
    margin: 15px 0 0;
}
#sidebar-menu .submenu-open  .accordion {
    border-bottom: 1px solid rgba(222, 226, 230, 0.5);
    padding: 10px 0;
    display: block;
}

.submenu-open .submenu-group .nav-link{
    font-weight: 500;
    font-size: 16px;
    color: var(--mau-chu-mac-dinh-sidebar);
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    width: 100%;
    transition: all 0.2s ease;
}
.submenu-open .submenu-group .nav-link .bi {
    margin-right: 10px;
}
.submenu-open .submenu-group .nav-link.submenu-nav-link:hover {
    color: var(--mau-chu-sidebar);
    transform: translateX(8px);
    background-color: var(--mau-btn-active);
}

.submenu-open .submenu-group .nav-pills {
    width: 100%;
}
.submenu-open .nav-pills .nav-link.active {
    background-color:  var(--mau-btn-active);
    color: var(--mau-chu-sidebar);  
}
.submenu-open  .accordion .accordion-item {

    border: none;
}

.submenu-open  .accordion .accordion-item .accordion-button {
    font-weight: 500;
    font-size: 16px;
    color: #67748E;
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: none;
}

.submenu-open  .accordion-item .accordion-button:hover, 
.submenu-open .submenu-group .nav-link:hover
{
    color: var(--mau-chu-sidebar) !important;
    
}
.submenu-open  .accordion-item .accordion-button:focus {
    box-shadow: none;
}
.submenu-open  .accordion-item .accordion-button:not(.collapsed) {
    background: var(--mau-btn-active);
    box-shadow: none;
    color: var(--mau-chu-sidebar) !important;
}
.form-wrapper{
    padding: 100px 50px 100px 50px;
    width: 700px;
}

.reduce-td{
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    min-width: 120px;
    max-width: 120px;
}