:root {
    --mau-border-header: #DEE2E6;
    --mau-icon: #67748E;
    --mau-list__btn:#F6F7F8;
}

#header {
    background-color: #fff;
    border-bottom: 1px solid var(--mau-border-header);
}   
#header .header-right {
    border-left: 1px solid var(--mau-border-header);
}
.header-left {
    padding: 0px 20px !important;
}
.header-right .header-right__navbar {
    background-color: #fff !important;
}
.header-right .header-search-inputs {
    padding: 0 15px;
    position: relative;
}
.header-right .header-search-inputs > .header-right__input-search {
    width: 230px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: #F6F6F7;
    padding: 0 8px 0 40px;
    border-radius: 50px;
}
.header-right .header-search-inputs > .header-right__btn-search {
    width: 27px;
    height: 27px;
    z-index: 9;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--mau-icon);
}
.header-right .header-search-inputs > .header-right__input-search:focus {
    border-color: none !important;
    box-shadow: none !important;
}
.header-right .header-search-inputs > .header-right__btn-search.btn:hover {
    background-color: transparent !important;
}
.header-right__list {
    padding-right: 15px;
    display: flex;
    align-items: center;
}
.header-right__list .list__btn{
    background: var(--mau-list__btn);
    border-radius: 8px;
    margin-right: 5px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-right__list .list__btn .dropdown-menu ,
.header-right__list .list-user .dropdown-menu{
    left: auto;
    right: 0px;
    margin: 0px;
    transform: translate3d(0px,10px, 0px);
    padding: 15px;
    min-width: 210px;
}
 .list__btn .dropdown-menu li a,
 .list-user .dropdown-menu li a {
    padding: 10px 10px;
    color: #67748E;
    border-radius: 10px;
    transition: none;
}
.header-right__list .list__btn .nav-link::after {
    content: none;
}
.header-right__list .list-user{
    position: relative;
}
.header-right__list .list-user .dropdown-toggle::after {
    margin-left: 10px;
    margin-top: 13px;
}
.header-right__list .list-user .nav-link {
    padding: 0;
    display: flex;
    line-height: normal;
    color: #212B36;
}
.header-right__list .list-user .list-user__user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.list-user__user-info .user-letter {
    background: #1B2950;
    color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
    object-fit: contain;
}
.list-user__user-info .user-letter img {
    width: 100%;
    height: 100%;
}
.list-user__user-info .user-detail .user-name {
    font-size: 15px;
    font-weight: 600;
    color: #1B2950;
    display: flex;
    align-items: center;
}
.list-user__user-info .user-detail .user-role {
    display: block;
    color: #67748E;
    font-size: 12px;
}

/*  Sidebar */
#content aside, #content article {
    padding: 20px;
}

#sidebar-menu ul {
    padding-left: 0px;
    list-style-type: none;
}
.sidebar {
    background-color: transparent;
    border-right: 1px solid transparent;
    margin-top: 0;
    /* z-index: 1001; */
    position: fixed;
    /* top: 60px; */
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-right: 1px solid #E8EBED;
    width: 260px;

}