<div class="card page-wrapper">
  <div class="card-body">
    <div class="page-title"> Nhà xuất bản</div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button th:class="'nav-link ' +  (${form==true ? 'active' : ''})  " id="nav-form-tab" data-bs-toggle="tab"
          data-bs-target="#nav-form" type="button" role="tab" aria-controls="nav-form" aria-selected="false">Cập
          nhật</button>
        <button th:class="'nav-link '+ (${form==false ? 'active' : ''}) " id="nav-authors-tab" data-bs-toggle="tab"
          data-bs-target="#nav-authors" type="button" role="tab" aria-controls="nav-authors" aria-selected="true">Danh
          sách</button>

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <!-- Cập nhật -->
      <div th:class="'tab-pane fade ' + (${form==true ? 'show active' : ''}) " id="nav-form" role="tabpanel"
        aria-labelledby="nav-form-tab" tabindex="0">
        <div class="form-wrapper form-center">
          <form class="form-section" th:action="@{/admin/publishers}" th:object="${publisher}" method="post"
            enctype="multipart/form-data">
            <div class="row">
              <div class="form-group mb-3 ">
                <input type="hidden" tabindex="1" class="form-control" th:field="*{id}" placeholder="Mã NXB "
                  th:value="${publisher.id}">
              </div>
              <div class="form-group mb-3 col-6">
                <input type="text" th:field="*{publisherName}" id="youtube-title" tabindex="2" class="form-control"
                  placeholder="Tên NXB" th:value="${publisher.publisherName}">
                <!-- lỗi -->
                <div class="message-errors " th:if="${#fields.hasErrors('publisherName')}" th:errors="*{publisherName}">
                </div>
              </div>
              <div class="form-group mb-3 col-6">
                <input type="text" th:field="*{address}" tabindex="1" class="form-control" placeholder="Địa chi"
                  th:value="${publisher.address}">
                <!-- lỗi -->
                <div class="message-errors " th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                </div>
              </div>
              <div class="form-group mb-3 col-6">
                <input type="text" th:field="*{city}" tabindex="1" class="form-control" placeholder="Thành phố"
                  th:value="${publisher.city}">
                <!-- lỗi -->
                <div class="message-errors " th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
                </div>
              </div>
              <div class="form-group mb-3 col-6">
                <input type="text" th:field="*{email}" tabindex="1" class="form-control" placeholder="Email"
                  th:value="${publisher.email}">
                <!-- lỗi -->
                <div class="message-errors " th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                </div>
              </div>
              <div class="form-group mb-3 col-6">
                <input type="text" th:field="*{phone}" tabindex="1" class="form-control" placeholder="Số điện thoại"
                  th:value="${publisher.phone}">
                <!-- lỗi -->
                <div class="message-errors " th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                </div>
              </div>
              <div class="form-group mb-3 col-6">
                <!-- <select class="form-select" >
                  <option value="1">Quốc tịch</option>
                  <option value="1">Việt Nam</option>
                  <option value="2">Hoa Kỳ</option>
                  <option value="3">Nga</option>
                </select> -->

                <input class="form-control input-datalist" th:field="*{country}" style="border-radius:0;"
                  list="DSQuocTich" th:value="${publisher.country}" placeholder="Quốc tịch...">
                <!-- lỗi -->
                <div class="message-errors" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
                </div>
                <datalist id="DSQuocTich">
                  <option value="Việt Nam">
                  <option value="Hoa Kỳ">
                  <option value="Nga">
                  <option value="Pháp">
                  <option value="Đức">
                </datalist>
              </div>
              <!-- <div class="form-group text-black">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="active" id="active1" 
                    value="true">
                  <label class="form-check-label" for="active1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"   name="active" id="inactive2" value="false">
                  <label class="form-check-label" for="inactive2">Inactive</label>
                </div>
              </div> -->
            </div>

            <div class="form-group mb-3 d-flex justify-content-end">
              <input formaction="/admin/publishers/create" type="submit" tabindex="4" class="form-control btn ms-2"
                th:disabled="${isEdit==true}" value="Create">
              <input formaction="/admin/publishers/update" type="submit" tabindex="4" class="form-control btn ms-2"
                th:disabled="${isEdit==false}" value="Update">
              <input th:attr="formaction=@{/admin/publishers/delete/{itemId}(itemId=${publisher.id})}" type="submit"
                tabindex="4" class="form-control btn ms-2" th:disabled="${isEdit==false}" value="Delete">


              <input tabindex="4" class="form-control btn ms-2" formaction="/admin/publishers/reset" type="submit"
                value="Reset">
            </div>

          </form>
        </div>
      </div>
      <!-- /Cập nhật -->
      <!-- Danh sách -->
      <div th:class="'tab-pane fade ' + (${form==false ? 'show active' : ''}) " id="nav-authors" role="tabpanel"
        aria-labelledby="nav-authors-tab" tabindex="0">
        <div class="table-top row px-0 mx-0">
          <div class="table-top__search-set col-6 px-0">
            <div class="search-input mt-3">

              <form class="d-flex" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" id="searchInput" placeholder="Tìm kiếm" aria-label="Tìm kiếm"
                    name="keywords" th:value="${param.keywords}">

                  <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                  <button class="btn btn-outline-danger" type="submit" id="clearButton"><i class="bi bi-x"></i></button>
                </div>
              </form>

            </div>
          </div>
          <div class="table-top__wordset col-6  px-0">
            <nav class="navbar navbar-expand-lg bg-body-tertiary ">
              <div class="container-fluid px-0">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <ul class="navbar-nav ms-auto me-0 mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="bi bi-file-earmark-pdf-fill"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="bi bi-filetype-exe"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="bi bi-printer-fill"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="table-bottom">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="tb-header">
                  <th scope="col"><a th:href="@{/admin/publishers(field='id')}">ID </a></th>
                  <th scope="col"><a th:href="@{/admin/publishers(field='publisherName')}">Tên NXB</a></th>
                  <th scope="col"><a th:href="@{/admin/publishers(field='address')}">Địa chỉ</a></th>
                  <th scope="col"><a th:href="@{/admin/publishers(field='city')}">Thành phố</a></th>
                  <th scope="col"><a th:href="@{/admin/publishers(field='country')}">Quốc gia</a></th>
                  <th scope="col"><a th:href="@{/admin/publishers(field='email')}">Email</a></th>
                  <th scope="col"><a th:href="@{/admin/publishers(field='phone')}">SĐT</a></th>
                  <th scope="col">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item :${page.content}">
                  <td th:text="${item.id}">1</td>
                  <td th:text="${item.publisherName}">2</td>
                  <td th:text="${item.address}">3</td>
                  <td th:text="${item.city}">4</td>
                  <td th:text="${item.country}">5</td>
                  <td th:text="${item.email}">6</td>
                  <td th:text="${item.phone}">7</td>
                  <td class="td-action ">
                    <a th:href="@{/admin/publishers/edit/{id}(id=${item.id})}"
                      class="btn action__btn-success btn-rounded"><span>Sửa</span> </a>
                    <a th:href="@{/admin/publishers/delete/{id}(id=${item.id})}" type="button"
                      class="btn action__btn-danger btn-rounded"><span>Xóa</span></a>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>

        </div>
        <!-- page -->
        <nav aria-label="Page navigation example" class="pagination-section">
          <div class="text">
            <i th:text="${page.number +1}"></i> <strong th:text="'of  '+${page.totalPages}"></strong>
          </div>
          <ul class="pagination">
            <li th:class="${'page-item ' + (page.isFirst ?'disabled': '' )}">
              <a class="page-link" th:href="@{/admin/publishers(p=0)}"><i class="bi bi-chevron-double-left"></i></a>
            </li>
            <li th:class="${'page-item ' + (not page.hasPrevious ? 'disabled' :'')}">
              <a class="page-link" th:href="@{/admin/publishers(p=${page.number-1})}"><i
                  class="bi bi-chevron-left"></i></a>
            </li>
            <li th:class="${'page-item ' + (not page.hasNext ? 'disabled' :'')}">
              <a class="page-link" th:href="@{/admin/publishers(p=${page.number+1})}"><i
                  class="bi bi-chevron-right"></i></a>
            </li>
            <li th:class="${'page-item ' + ( page.isLast ? 'disabled' :'')}">
              <a class="page-link" th:href="@{/admin/publishers(p=${page.totalPages-1})}"><i
                  class="bi bi-chevron-double-right"></i></a>
            </li>

          </ul>
        </nav>
        <!-- /page -->
      </div>
      <!-- /Danh sách -->
    </div>

  </div>
</div>

<section class="message-section ">
  <div
    th:class="'toast my-3  align-items-center text-white bg-primary border-0 ' + ${message != null ? 'fade show' :''}"
    role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <tb:block th:text="${message}"></tb:block>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</section>