<div class="card page-wrapper">
  <div class="card-body">
    <div class="page-title">Quản lí người dùng</div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button th:class="'nav-link ' +  (${form==true ? 'active' : ''})  " id="nav-form-tab" data-bs-toggle="tab"
          data-bs-target="#nav-form" type="button" role="tab" aria-controls="nav-form" aria-selected="false">Cập
          nhật</button>
        <button th:class="'nav-link '+ (${form==false ? 'active' : ''}) " id="nav-authors-tab" data-bs-toggle="tab"
          data-bs-target="#nav-authors" type="button" role="tab" aria-controls="nav-authors" aria-selected="true">Danh
          sách</button>

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <!-- Cập nhật -->
      <div th:class="'tab-pane fade ' + (${form==true ? 'show active' : ''}) " id="nav-form" role="tabpanel"
      aria-labelledby="nav-form-tab" tabindex="0">
        <div class="form-wrapper form-center">
       
          <form class="form-section" th:action="@{/admin/Users}" th:object="${item}" method="post"
          enctype="multipart/form-data">
            <div class="row">

            <div class="form-group mb-3 col-6">
              <input type="text" name="id" id="youtube-id" tabindex="1"  class="form-control" placeholder="Mã người dùng" th:value="${item.username}">
            </div>
            <div class="form-group mb-3 col-6">
              <input type="text" name="title" id="youtube-title" tabindex="2" class="form-control" placeholder="Mật khẩu" th:value="${item.password}">
            </div>
           
       
            <div class="form-group mb-3 col-6">
              <input type="text" name="views" id="view-count" tabindex="1" class="form-control" placeholder="Họ và tên" th:value="${item.fullName}" >
            </div>
            <div class="form-group mb-3 col-6">
              <input type="text" name="views" id="view-count" tabindex="1" class="form-control" placeholder="Số điện thoại" th:value="${item.phone}" >
            </div>
            <div class="form-group mb-3 col-6">
              <input type="email" name="views" id="view-count" tabindex="1" class="form-control" placeholder="Email" th:value="${item.email}" >
            </div>
            <div class="form-group mb-3 col-6">
              <input type="text" name="views" id="view-count" tabindex="1" class="form-control" placeholder="Địa chỉ" th:value="${item.address}" >
            </div>
          
            </div>
            <div class="mb-3">
              <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" value="" >
                <label class="input-group-text" for="inputGroupFile02">Hình ảnh</label>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group text-black">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="active" value="true" th:checked="${item.activated==true}" />
                  <label class="form-check-label" for="active1">Còn hoạt động</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="status" id="inactive" value="false" th:checked="${item.activated==false}" />
                  <label class="form-check-label" for="inactive2">Ngưng hoạt động</label>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-group text-black">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="role" id="admin" value="true" th:checked="${item.admin==true}" />
                  <label class="form-check-label" for="admin">Admin</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="role" id="user" value="false" th:checked="${item.admin==false}" />
                  <label class="form-check-label" for="user">User</label>
                </div>
              </div>
            </div>
     
            <div class="form-group mb-3 d-flex justify-content-end">
              <input formaction="/admin/users/create" th:disabled="${isEdit==true}" type="submit" tabindex="4"
              class="form-control btn ms-2" value="Create">
            <input formaction="/admin/users/update" type="submit" tabindex="4" th:disabled="${isEdit==false}"
              class="form-control btn ms-2" value="Update">

              
            <input th:attr="formaction=@{/admin/users/delete/{itemUsers}(itemUsers=${item.username})}"
              th:disabled="${isEdit==false}" type="submit" tabindex="4" class="form-control btn ms-2" value="Delete">
  

              <input type="submit" tabindex="4" formaction="/admin/users/reset" class="form-control btn ms-2"
              value="Reset">
            </div>
          </form>
         </div>
      </div> 
      <!-- /Cập nhật -->
      <!-- Danh sách -->
      <div th:class="'tab-pane fade ' + (${form==false ? 'show active' : ''})  " id="nav-authors" role="tabpanel"
      aria-labelledby="nav-authors-tab" tabindex="0">
        <div class="table-top row px-0 mx-0">
          <div class="table-top__search-set col-6 px-0">
            <div class="search-input">
            </div>
          </div>  
          <div class="table-top__wordset col-6  px-0">
            <nav class="navbar navbar-expand-lg bg-body-tertiary ">
              <div class="container-fluid px-0">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <ul class="navbar-nav ms-auto me-0 mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="bi bi-file-earmark-pdf-fill"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="bi bi-filetype-exe"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="bi bi-printer-fill"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="table-bottom">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="tb-header">
                    <th scope="col">ID </th>
                    <th scope="col" >Mật khẩu</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">SĐT</th>
                    <th scope="col" >Email</th>
                    <th scope="col" >Địa chỉ</th>
                    <th scope="col" >Trạng thái</th>
                    <th scope="col" >Vai trò</th>
                    <th scope="col" >Hình ảnh</th>
                    <th scope="col">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item : ${items}">
        
                    <td th:text="${item.username}"></td>
                    <td th:text="${item.password}"></td>
                    <td th:text="${item.fullName}"></td>
                    <td th:text="${item.phone}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.address}"></td>
                    <td th:text="${item.activated ? 'Active' : 'inactive'}"></td>
                    <td th:text="${item.admin ? 'Admin' : 'User'}"></td>
                    <td>
                 
                      <img th:src="${item.image}" alt="User Image">
                    </td>
>
                    <td class="td-action ">
                      <a th:href="@{/admin/users/edit/{username}(username=${item.username})}"
                        class="btn action__btn-success btn-rounded"><span>Cập nhật</span> </a>
                      <a type="button" class="btn action__btn-danger btn-rounded"><span>Xóa</span></a>
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
            
        </div>
      </div>
     <!-- /Danh sách -->
    </div>
    
  </div>
</div>
