<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đổi mật khẩu</title>

  <link rel="stylesheet" th:href="@{/assets/css/form.css}">
  <th:block th:include="fragment/css-links.html"></th:block>
</head>

<body>
    <!-- preloder-loader -->
  
    <!-- /preloder-loader -->
  <!-- Header -->
  <div th:replace="fragment/header.html :: #header "></div>
  <!-- /Header -->
  <div class="container py-5  d-flex justify-content-center align-items-center" style="height:65vh;">
    <div class="col-md-4 form-wrapper ">
      <div class="card-change-pass card">
        <div class="card-header">
          <div class="text-center">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active">Thay đổi mật khẩu</button>
              </div>
            </nav>
          </div>
        </div>
        </nav>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 ">
              <!-- Login -->
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <form class="form-section" th:action="@{/account/change-password/save}" th:object="${user}"
                    method="post">
                    <!--  -->
                    <div class="form-group mb-3">
                      <input type="text" name="id" id="username" tabindex="1" class="form-control" readonly="readonly"
                        placeholder="Tên người dùng" value="">

                    </div>
                    <!--  -->
                    <!--  -->
                    <div class="form-group mb-3">
                      <input type="password" name="password" th:field="*{password}" id="current-pass" tabindex="1"
                        class="form-control" placeholder="Mật khẩu hiện tại" value="">
                      <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                      </div>
                    </div>
                    <!--  -->
                    <div class="form-group mb-3">
                      <input type="password" name="newPassword" id="new-password" tabindex="1" class="form-control"
                        placeholder="Mật khẩu mới" value="">
                      <div class="alert alert-warning" th:if="${mesNP == false}">Không được để trống mật khẩu mới
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <input type="password" name="confirmPassword" id="confirm-password" tabindex="2"
                        class="form-control" placeholder="Xác nhận mật khẩu">
                      <div class="alert alert-warning" th:if="${mesCP == false }">Không được để trống xác nhận mật
                        khẩu
                      </div>
                      <div class="alert alert-warning" th:if="${message == false }">Không khớp với mật khẩu
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <div class="row">
                        <div class="col-sm-12 d-flex justify-content-end ">
                          <input type="submit" name="forgotSubmit" id="change-pass-submit" tabindex="4"
                            class="form-control btn btn-change-pass" value="Thay đổi">
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- /Login -->
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--footer  -->
  <div th:replace="fragment/footer.html :: #footer"></div>
  <!--/footer  -->
  <th:block th:include="fragment/script-links.html"></th:block>
</body>

</html>