<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Product Card/Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <th:block th:include="fragment/css-links.html"></th:block>
  <link rel="stylesheet" th:href="@{/assets/css/chi-tiet.css}">



</head>

<body>
  <div th:replace="fragment/header.html :: #header "></div>

  <div class="khung mt-5 mb-5">
    <div class="container_tai">
      <!-- card left -->
      <div class="product-imgs">
        <div class="td-img-display">
          <div class="img-showcase">
            <img src="https://cdn0.fahasa.com/media/catalog/product/t/h/thao-t_ng-v_-ti_n---b_a-1.jpg" alt="shoe image">
            <img
              src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/thao_tung_ve_tien/2023_05_15_14_53_31_1-390x510.jpg"
              alt="shoe image">
            <img
              src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/thao_tung_ve_tien/2023_05_15_14_53_31_2-390x510.jpg"
              alt="shoe image">
            <img
              src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/thao_tung_ve_tien/2023_05_15_14_53_31_3-390x510.jpg"
              alt="shoe image">
          </div>
        </div>
        <div class="img-select">
          <div class="td-img-item">
            <a href="#" data-id="1">
              <img src="https://cdn0.fahasa.com/media/catalog/product/t/h/thao-t_ng-v_-ti_n---b_a-1.jpg"
                alt="shoe image">
            </a>
          </div>
          <div class="td-img-item">
            <a href="#" data-id="2">
              <img
                src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/thao_tung_ve_tien/2023_05_15_14_53_31_1-390x510.jpg"
                alt="shoe image">
            </a>
          </div>
          <div class="td-img-item">
            <a href="#" data-id="3">
              <img
                src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/thao_tung_ve_tien/2023_05_15_14_53_31_2-390x510.jpg"
                alt="shoe image">
            </a>
          </div>
          <div class="td-img-item">
            <a href="#" data-id="4">
              <img
                src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/thao_tung_ve_tien/2023_05_15_14_53_31_3-390x510.jpg"
                alt="shoe image">
            </a>
          </div>
        </div>
        <!--  --><!--  --><!--  --><!--  --><!--  --><!--  -->
        <div class="btn-cart">
          <button type="button" title="Thêm vào giỏ hàng" class="btn-cart-to-cart"><span class="bi bi-cart3">
            </span><span>Thêm vào giỏ hàng</span></button>
          <button type="button" title="Mua ngay" class="btn-cart-to-cart btn-buy-now"><span>Mua
              ngay</span></button>
        </div>

      </div>
      <!-- card right -->
      <div class="product-content">
        <h2 class="product-title">Tuổi Trẻ Đáng Giá Bao Nhiêu (Tái Bản 2021)</h2>

        <!--  -->
        <div class="product-view-sa">
          <div class="product-view-sa_one">
            <div class="product-view-sa-supplier"><span>Nhà cung cấp:</span><a>Nhã Nam</a></div>
            <div class="product-view-sa-author"><span>Tác giả:</span><span>Rosie Nguyễn</span></div>
          </div>
          <div class="product-view-sa_two">
            <div class="product-view-sa-supplier"><span>Nhà xuất bản:</span><span>NXB Hội Nhà Văn</span></div>
            <div class="product-view-sa-author"><span>Hình thức bìa:</span><span>Bìa Mềm</span></div>
          </div>
        </div>
        <!--  -->
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div>
        <!--  -->
        <div class="khung">
          <span class="price" id="product-price-371714">72.000&nbsp;đ</span>
          <span class="price-old" id="old-price-371714">90.000&nbsp;đ</span>
        </div>
        <!-- -->


        <div class="product-detail ">
          <div class="quantity">
            <label class="qty">Số Lượng:</label>
            <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
              class="input-number">
          </div>
        </div>



        <div class="social-links">
          <p>Share At: </p>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="#">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>

      </div>
    </div>
  </div>




  <div th:replace="fragment/footer.html :: #footer"></div>
  <script th:src="@{/assets/js/chi-tiet.js}"></script>
</body>

</html>