<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="fragment/css-links.html"></th:block>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
    <title>favourite</title>
</head>

<body>
    <!-- preloder-loader -->

    <!-- /preloder-loader -->
    <!-- Header -->
    <div th:replace="fragment/header.html :: #header "></div>
    <!-- /Header -->



    <!-- Featured Section Begin -->
    <section class="featured spad1">

        <div class="container">

            <div class="row featured__filter">

                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" th:each="item :${page.content}">
                    <div class="featured__item" >
                        <div class="featured__item__pic set-bg">
                            <a th:href="@{/chitiet/{bookId}(bookId=${item.book.id})}"><img
                                    th:src="@{/assets/img/__${item.book.image}__}" alt=""></a>
                            <ul class="featured__item__pic__hover">
                                <li><a th:href="@{/yeuthich/delete/{favoriteId}(favoriteId=${item.id})}"><i
                                            class="fa-solid fa-thumbs-down"></i></a></li>
                                <li><a href="" data-bs-toggle="modal" th:data-bs-target="'#modal_'+${item.book.id}"><i
                                            class="fa-solid fa-share"></i></a></li>
                                <li th:if="${item.book.status == 1}" ><a th:href="@{/cart/add/__${item.id}__}"><i class="fa fa-shopping-cart"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a th:href="@{/chitiet/{bookId}(bookId=${item.book.id})}"
                                    th:text="${item.book.title}"></a></h6>
                                    <div class="row">
                                        <div class="col-12"><span style="color: red; font-size: 15px;" th:text="${item.book.price}  +' VNĐ'"></span></div>
                                        <div class="col-12">
                                            <span th:if="${item.book.status == 0}"  style="color: rgb(95, 5, 5); font-size: 10px;">Hết hàng</span>
                                            <span th:if="${item.book.status == 2}"  style="color: rgb(95, 5, 5); font-size: 12px;">Ngừng kinh doanh</span>
                                        </div>
                                    </div>
                        </div>
                        <div class="ribben">
                            <p>NEW</p>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class=" modal fade" th:id="'modal_'+${item.book.id}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Chia sẻ sách: <strong
                                                th:text="${item.book.title}"></strong> </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label class="label" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="emailShare" id="email"
                                                placeholder="Email" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button th:attr="formaction=@{/share/{bookId}(bookId=${item.book.id})}"
                                            type="submit" class="btn btn-primary">Save
                                            changes</button>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- /model -->

                </div>

                <!-- page -->
                <nav aria-label="Page navigation example" class="pagination-section"
                    style=" position: relative; height: 50px;">
                    <div style="  position: absolute; right: 320px; top: 13px;">
                        <i th:text="${page.number +1}"></i> <strong th:text="'of  '+${page.totalPages}"></strong>
                    </div>
                    <ul class=" pagination" style=" position: absolute; padding-top: 10px; right: 50px;">
                        <li style="width: 50px;" th:class="${'page-item ' + (page.isFirst ?'disabled': '' )}">
                            <a class="page-link" th:href="@{/yeuthich(p=0)}"><i
                                    class="bi bi-chevron-double-left"></i></a>
                        </li>
                        <li style="width: 50px;" th:class="${'page-item ' + (not page.hasPrevious ? 'disabled' :'')}">
                            <a class="page-link" th:href="@{/yeuthich(p=${page.number-1})}"><i
                                    class="bi bi-chevron-left"></i></a>
                        </li>

                        <li style="width: 50px;" th:class="${'page-item ' + (not page.hasNext ? 'disabled' :'')}">
                            <a class="page-link" th:href="@{/yeuthich(p=${page.number+1})}"><i
                                    class="bi bi-chevron-right"></i></a>
                        </li>
                        <li style="width: 50px;" th:class="${'page-item ' + ( page.isLast ? 'disabled' :'')}">
                            <a class="page-link" th:href="@{/yeuthich(p=${page.totalPages-1})}"><i
                                    class="bi bi-chevron-double-right"></i></a>
                        </li>

                    </ul>
                </nav>
                <!-- /page -->
            </div>

        </div>
    </section>
    <!-- Featured Section End -->

    <section class="message-section ">
        <div th:class="'toast my-3  align-items-center text-white bg-primary border-0 ' + ${message != null ? 'fade show' :''}"
            role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <tb:block th:text="${message}"></tb:block>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </section>



    <!--footer  -->
    <div th:replace="fragment/footer.html :: #footer"></div>
    <!--/footer  -->
    <th:block th:include="fragment/script-links.html"></th:block>
</body>

</html>