<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <th:block th:include="fragment/css-links.html"></th:block>
         <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
         <title>favourite</title>
</head>
<body>
      <!-- preloder-loader -->
  <div th:replace="fragment/preloder-loader.html :: #preloder "></div>
  <!-- /preloder-loader -->
             <!-- Header -->
    <div th:replace="fragment/header.html :: #header "></div>
    <!-- /Header -->



        <!-- Featured Section Begin -->
         <section class="featured spad1">
       
             <div class="container">    

                <div class="row featured__filter">
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg">
                      <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach1.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a th:href="@{/bookworld/giohang}"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach2.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach7.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach11.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach8.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach3.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach4.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                         <div class="featured__item">
                             <div class="featured__item__pic set-bg" data-setbg="">
                                <a th:href="@{/bookworld/chitiet}"><img th:src="@{/assets/img/Sach15.jpg}"alt=""></a>
                                 <ul class="featured__item__pic__hover">
                                  
                                     <li><a href="#"><i class="fa-solid fa-thumbs-down"></i></a></li>
                          <li><a href=""><i class="fa-solid fa-share"></i></a></li>
                                     <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                 </ul>
                             </div>
                             <div class="featured__item__text">
                                 <h6><a href="#">Sách 1</a></h6>
                                 <h4>200.000 VNĐ</h4>
                                 <h5>100.000 VNĐ</h5>
                             </div>
                             <div class="ribben">
                                 <p>NEW</p>
                               </div>
                         </div>
                     </div>
                   
                 </div> 
      
             </div>
         </section>
         <!-- Featured Section End -->
     


         <!--footer  -->
    <div th:replace="fragment/footer.html :: #footer"></div>
    <!--/footer  -->
    <th:block th:include="fragment/script-links.html"></th:block>
</body>
</html>