<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/elegant-icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/fontawesome-free-6.4.0-web/css/all.css}" rel="stylesheet" type="text/css" />
    <!--  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/gio-hang.css}">

</head>

<body>
    <div th:replace="fragment/header.html :: #header "></div>
    <!--  -->
    <div class="mainct mt-5 mb-5">
        <div class="basket">

            <div class="basket-labels">
                <ul>

                    <li class="item item-heading">Sản phẩm</li>
                    <li class="price">Giá</li>
                    <li class="quantity">Số lượng</li>
                    <li class="subtotal">Tổng</li>

                </ul>
            </div>

            <div class="basket-product">

                <div class="item">

                    <div class="product-image">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/h/_/h_nh-tinh-c_a-m_t-k_-ngh_-nhi_u-tr_c-1-1.jpg"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong> Hành Tinh Của Một Kẻ Nghĩ Nhiều</strong>
                        </h1>

                    </div>
                </div>
                <div class="price"><span class="td-giaGiam">43.000 đ</span>
                    <p><del class="td-giaCu">86.000</del></p>
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">104.00</div>

                <div class="remove">
                    <button><i class="bi bi-trash3"></i></button>
                </div>


            </div>
            <div class="basket-product">

                <div class="item">

                    <div class="product-image">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/h/_/h_nh-tinh-c_a-m_t-k_-ngh_-nhi_u-tr_c-1-1.jpg"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong> Hành Tinh Của Một Kẻ Nghĩ Nhiều</strong>
                        </h1>

                    </div>
                </div>
                <div class="price"><span class="td-giaGiam">43.000 đ</span>
                    <p><del class="td-giaCu">86.000</del></p>
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">104.00</div>

                <div class="remove">
                    <button><i class="bi bi-trash3"></i></button>
                </div>


            </div>
            <div class="basket-product">

                <div class="item">

                    <div class="product-image">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/h/_/h_nh-tinh-c_a-m_t-k_-ngh_-nhi_u-tr_c-1-1.jpg"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong> Hành Tinh Của Một Kẻ Nghĩ Nhiều</strong>
                        </h1>

                    </div>
                </div>
                <div class="price"><span class="td-giaGiam">43.000 đ</span>
                    <p><del class="td-giaCu">86.000</del></p>
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">104.00</div>

                <div class="remove">
                    <button><i class="bi bi-trash3"></i></button>
                </div>


            </div>
            <div class="basket-product">

                <div class="item">

                    <div class="product-image">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/h/_/h_nh-tinh-c_a-m_t-k_-ngh_-nhi_u-tr_c-1-1.jpg"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong> Hành Tinh Của Một Kẻ Nghĩ Nhiều</strong>
                        </h1>

                    </div>
                </div>
                <div class="price"><span class="td-giaGiam">43.000 đ</span>
                    <p><del class="td-giaCu">86.000</del></p>
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">104.00</div>

                <div class="remove">
                    <button><i class="bi bi-trash3"></i></button>
                </div>


            </div>
            <div class="basket-product">

                <div class="item">

                    <div class="product-image">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/h/_/h_nh-tinh-c_a-m_t-k_-ngh_-nhi_u-tr_c-1-1.jpg"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong> Hành Tinh Của Một Kẻ Nghĩ Nhiều</strong>
                        </h1>

                    </div>
                </div>
                <div class="price"><span class="td-giaGiam">43.000 đ</span>
                    <p><del class="td-giaCu">86.000</del></p>
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">104.00</div>

                <div class="remove">
                    <button><i class="bi bi-trash3"></i></button>
                </div>


            </div>
            <div class="basket-product">

                <div class="item">

                    <div class="product-image">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/h/_/h_nh-tinh-c_a-m_t-k_-ngh_-nhi_u-tr_c-1-1.jpg"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong> Hành Tinh Của Một Kẻ Nghĩ Nhiều</strong>
                        </h1>

                    </div>
                </div>
                <div class="price"><span class="td-giaGiam">43.000 đ</span>
                    <p><del class="td-giaCu">86.000</del></p>
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">104.00</div>

                <div class="remove">
                    <button><i class="bi bi-trash3"></i></button>
                </div>


            </div>
            <div class="basket-product">

                <div class="item">

                    <div class="product-image">
                        <img src="https://cdn0.fahasa.com/media/catalog/product/h/_/h_nh-tinh-c_a-m_t-k_-ngh_-nhi_u-tr_c-1-1.jpg"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong> Hành Tinh Của Một Kẻ Nghĩ Nhiều</strong>
                        </h1>

                    </div>
                </div>
                <div class="price"><span class="td-giaGiam">43.000 đ</span>
                    <p><del class="td-giaCu">86.000</del></p>
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">104.00</div>

                <div class="remove">
                    <button><i class="bi bi-trash3"></i></button>
                </div>


            </div>





        </div>
        <aside>
            <div class="summary">
                <div class="summary-total-items">Thông Tin Khách Hàng</div>


                <div class="summary-delivery ">
                    <div class="mb-5">
                        <label for="fullname" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Nhập họ và tên">
                    </div>
                    <div class="mb-5">
                        <label for="" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="mb-1">
                        <label for="address" class="form-label">địa chỉ</label>
                        <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ">
                    </div>
                </div>
                <div class="subtotal-title fw-bold">Phương Thức Thanh Toán</div>
                <div class="mt-1 mb-5 td-khung">

                    <div class="td-khung1 ">
                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_zalopayapp.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví ZaloPay</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>

                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_mocapay.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví Moca Grad</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>
                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_cashondelivery.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name" style="width: 139px;">Thanh toán bằng tiền mặt
                                    </div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="tienmat" checked="checked">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>


                    </div>
                    <div class="td-khung2 ">
                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_airpay.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví ShopeePay</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>

                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_momopay.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví Momo</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>

                    </div>

                </div>


                <div class="summary-total">
                    <div class="total-title">Tổng</div>
                    <div class="total-value final-value td-giaGiam" id="basket-total">130.00</div>
                </div>
                <div class="summary-checkout">
                    <button class="checkout-cta">Thanh Toán</button>
                </div>
            </div>
        </aside>
    </div>
    <!--  -->
    <div th:replace="fragment/footer.html :: #footer"></div>
    <link th:href="@{/css/js/bootstrap.min.js}" rel="stylesheet" type="text/css" />


</body>

</html>