<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>

    <th:block th:include="fragment/css-links.html"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/gio-hang.css}">

</head>

<body>
    <div th:replace="fragment/header.html :: #header "></div>
    <!--  -->
    <div class="mainct mt-5 mb-5">
        <div class="basket">
            <button th:onclick="removeCartAll()"  style="font-size: 18px; border-radius: 10px ;" class="btn btn-danger" >clear all</button>
            <div class="basket-labels">
                <ul>

                    <li class="item item-heading">Sản phẩm</li>
                    <li class="price">Giá</li>
                    <li class="quantity">Số lượng</li>
                    <li class="subtotal">Tổng</li>

                </ul>
            </div>
            <div class="basket-product" th:each="prod,pStat: ${cart.products}" >
                <div class="item">
                    <div class="product-image">
                            <img th:src="@{/assets/img/__${prod.anh}__}"
                            alt="Placholder Image 2" height="148px" class="product-frame">
                    </div>
                    <div class="product-details">
                        <h1 class="td_titleBook"><strong th:text="${prod.ten}"> </strong>
                        </h1>
                    </div>
                </div>
                <div class="price"><span class="td-giaGiam"th:text="${prod.gia}"></span>
                    <!-- <p><del class="td-giaCu">86.000</del></p> -->
                </div>
                <div class="quantity">
                    <input type="number" id="example" value="1" th:onchange="refreshCart([[${prod}]],[[${pStat}]])"  name="example" min="0" max="100" step="1" pattern="\d+"
                        class="input-number">
                </div>
                <div class="subtotal td-giaTong">0</div>

                <div class="remove">
                    <a  th:onclick="removeCart([[${prod}]],[[${pStat}]])"  ><i class="bi bi-trash3"></i></a >
                    <!-- <button   th:data-item="${prod}" th:href="@{/cart/remove/__${prod.id}__}"  class="removeBtn"><i class="bi bi-trash3"></i></button > -->
                     
                    </div>
            </div>

        </div>
        <aside>
            <div class="summary">
                <div class="summary-total-items">Thông Tin Khách Hàng</div>

                <div class="summary-delivery ">
                    <div class="mb-5">
                        <label for="fullname" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Nhập họ và tên">
                    </div>
                    <div class="mb-5">
                        <label for="" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="mb-1">
                        <label for="address" class="form-label">địa chỉ</label>
                        <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ">
                    </div>
                </div>
                <div class="subtotal-title fw-bold">Phương Thức Thanh Toán</div>
                <div class="mt-1 mb-5 td-khung">

                    <div class="td-khung1 ">
                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_zalopayapp.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví ZaloPay</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>

                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_mocapay.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví Moca Grad</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>
                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_cashondelivery.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name" style="width: 139px;">Thanh toán bằng tiền mặt
                                    </div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="tienmat" checked="checked">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="td-khung2 ">
                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_airpay.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví ShopeePay</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>

                        <div class="fhs-radio-big-with-icon-container">
                            <label class="fhs-radio-big fhs-raido-big-with-icon">
                                <div class="fhs-payment-name-with-icon-container">

                                    <img src="https://cdn0.fahasa.com/skin/frontend/base/default/images/payment_icon/ico_momopay.svg?q=102205"
                                        alt="">
                                    <div class="fhs-payment-name">Ví Momo</div>
                                    <input style="display: none;" type="radio" name="td-payRadio"
                                        class="fhs_checkout_paymentmethod_option" value="zalopayapp">
                                    <span class="radiomark-big"></span>
                                </div>
                            </label>
                        </div>

                    </div>

                </div>


                <div class="summary-total">
                    <div class="total-title">Tổng</div>
                    <div class="total-value final-value td-giaGiam" id="basket-total">130.00</div>
                </div>
                <div class="summary-checkout">
                    <button class="checkout-cta">Thanh Toán</button>
                </div>
            </div>
        </aside>
    </div>
    <!--  -->
    <div th:replace="fragment/footer.html :: #footer"></div>
    <th:block th:include="fragment/script-links.html"></th:block>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script th:src="@{/assets/js/gio-hang.js}"></script>
</body>

</html>