<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:include="fragment/css-links.html"></th:block>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
<title>Book World</title>
</head>
<body>

  <!-- preloder-loader -->
  <div th:replace="fragment/preloder-loader.html :: #preloder "></div>
  <!-- /preloder-loader -->
      
    <!-- Header -->
    <div th:replace="fragment/header.html :: #header "></div>
    <!-- /Header -->

 <!--footer  -->
 <div th:replace="fragment/Carousel.html :: #hero"></div>
 <!--/footer  -->

 
<!-- featured -->
 <div th:replace="fragment/featured.html :: #featured"></div>
<!-- /featured -->

<!--product  -->
<div th:replace="fragment/product.html :: #product"></div>
<!--/product  -->


<!--footer  -->
    <div th:replace="fragment/footer.html :: #footer"></div>
    <!--/footer  -->
 <th:block th:include="fragment/script-links.html"></th:block>
</body>
</html>