<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>lien he</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <th:block th:include="fragment/css-links.html"></th:block>
	<link rel="stylesheet" th:href="@{/assets/css/lien-he.css}">
</head>

<body>
  <!-- preloder-loader -->
  <div th:replace="fragment/preloder-loader.html :: #preloder "></div>
  <!-- /preloder-loader -->
	<div th:replace="fragment/header.html :: #header "></div>
	<!--  -->
	<section class="ftco-section mt-5 mb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper ">
						<div class="row no-gutters mb-5 p-4  bg">
							<!-- left -->
							<div class="col-md-7 col-lg-8 ">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Contact Us</h3>

									<div class="mb-4">
										Your message was sent, thank you!
									</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										<div class="row">
											<div class="col-md-6 mb-3">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name"
														placeholder="Name">
												</div>
											</div>
											<div class="col-md-6 mb-3">
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email"
														placeholder="Email">
												</div>
											</div>
											<div class="col-md-12 mb-3">
												<div class="form-group">
													<label class="label" for="subject">Subject</label>
													<input type="text" class="form-control" name="subject" id="subject"
														placeholder="Subject">
												</div>
											</div>
											<div class="col-md-12 mb-3">
												<div class="form-group">
													<label class="label" for="message">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30"
														rows="4" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12 mb-3">
												<div class="form-group">
													<input type="button" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!-- /left -->
							<!-- right -->
							<div class="col-md-5 col-lg-4 d-flex">
								<iframe
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16653.418841986106!2d105.75631652230251!3d9.960259072243893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a089d294a53693%3A0xf3d0fb7758da72d0!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYyBD4bqnbiBUaMah!5e0!3m2!1svi!2s!4v1684736151635!5m2!1svi!2s"
									width="600" height="560" style="border:0;" allowfullscreen="" loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>
							<!-- /right -->
						</div>
						<!-- lien he -->
						<div class="row">
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="bi bi-geo-alt-fill"></span>
									</div>
									<div class="text">
										<p><span>Address:</span> Việt Nam</p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="bi bi-telephone-outbound-fill"></span>
									</div>
									<div class="text">
										<p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="bi bi-envelope-fill"></span>
									</div>
									<div class="text">
										<p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
									<div class="icon d-flex align-items-center justify-content-center">
										<span class="bi bi-browser-chrome"></span>
									</div>
									<div class="text">
										<p><span>Website</span> <a href="#">yoursite.com</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- /lien he -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--  -->
	<div th:replace="fragment/footer.html :: #footer"></div>
	<th:block th:include="fragment/script-links.html"></th:block>
</body>

</html>