
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .fa-2x {
        font-size: 2em;
    }
    
    .table-billing-history th, .table-billing-history td {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.375rem;
        padding-right: 1.375rem;
    }
    .table > :not(caption) > * > *, .dataTable-table > :not(caption) > * > * {
        padding: 0.75rem 0.75rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }
    
    .border-start-primary {
        border-left-color: #0061f2 !important;
    }
    .border-start-secondary {
        border-left-color: #6900c7 !important;
    }
    .border-start-success {
        border-left-color: #00ac69 !important;
    }
    .border-start-lg {
        border-left-width: 0.25rem !important;
    }
    .h-100 {
        height: 100% !important;
    }

    /* input type file */

    .custom-file-input {
        
        width: 170px;
        color: transparent;
        justify-content: center;
      }
      .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
        justify-content: center;
      }
      .custom-file-input::before {
        content: 'Upload new images';
        color: white;
        display: inline-block;
        background: #0B5ED7;
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 700;
      }
      .custom-file-input:hover::before {
        border-color: red;
      }
      .custom-file-input:active {
        outline: 0;
      }
      .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
      }
      

      /*  */


      .avatar-upload {
        position: relative;
        width: 300px;
        margin: 10px auto 20px;
      }
      .avatar-upload .avatar-preview {
        height: 300px;
        border-radius: 50%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      .avatar-upload .avatar-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .avatar-upload .avatar-edit input {
        display: none;
      }
      .avatar-upload .avatar-edit label {
        display: block;
        position: absolute;
        height: 30px;
        width: 100px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        background-color: #00a6fb;
        color: #fff;
        border-radius: 15px;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        cursor: pointer;
        transition: all 0.2s ease;
      }
      .avatar-upload input[type="file"]:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }
      