<header id="header" class="px-5 py-1">
    <div class="row">
        <!-- header-left -->
        <div class="header-left col-lg-3">
            <div class="header-left__logo">

            </div>
        </div>
        <!-- /header-left -->
         <!-- header-right -->
         <div class="header-right col-lg-9">
            <nav class="header-right__navbar navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2 header-right__search" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
         </div>
         <!-- /header-right -->
    </div>
    
</header>