
    <div id="sidebar-menu">
      <ul class="sidebar-menu__submenu">
        <li class="submenu-open">
          <h6 class="submenu-hdr">Sản phẩm</h6>
          <div class="d-flex align-items-start submenu-group">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuanLySach" aria-expanded="true" aria-controls="collapseQuanLySach">
                      <i class="bi bi-book-fill me-2"></i> Quản lí sách
                    </button>
                  </h2>
                  <div id="collapseQuanLySach" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="d-flex align-items-start submenu-group">
                        <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <a class="nav-link submenu-nav-link" href="/admin/authors"   type="button" role="tab"  ><i class="bi bi-journal-text"></i> Tác giả</a>
                          <a class="nav-link submenu-nav-link"  href="/admin/publishers"  type="button" role="tab"  ><i class="bi bi-box"></i>  Nhà xuất bản</a>
                          <a class="nav-link submenu-nav-link"  href="/admin/categories" type="button" role="tab"  > <i class="bi bi-tags"></i> Danh mục</a>
                          <a class="nav-link submenu-nav-link"  href="/admin/products"  type="button" role="tab"  ><i class="bi bi-book"></i> Sách</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuanLyDonHang" aria-expanded="false" aria-controls="collapseQuanLyDonHang">
                      <i class="bi bi-bag-dash-fill me-2"></i>  Quản lý đơn hàng
                    </button>
                  </h2>
                  <div id="collapseQuanLyDonHang" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="d-flex align-items-start submenu-group">
                        <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <a class="nav-link submenu-nav-link"  href="/admin/orders-pending"     type="button" role="tab"  ><i class="bi bi-dropbox"></i> Chờ xử lí</a>
                          <a class="nav-link submenu-nav-link"   type="button" role="tab"  ><i class="bi bi-stack"></i> Đã giao</a>
                          <a class="nav-link submenu-nav-link"   type="button" role="tab"  > <i class="bi bi-view-stacked"></i>Đã hủy</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThongKe" aria-expanded="false" aria-controls="collapseThongKe">
                      <i class="bi bi-bar-chart-fill me-2"></i> Thống kê
                    </button>
                  </h2>
                  <div id="collapseThongKe" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link submenu-nav-link"   type="button" role="tab"  ><i class="bi bi-slack"></i> Sách yêu thích</a>
                        <a class="nav-link submenu-nav-link"   type="button" role="tab"  ><i class="bi bi-unity"></i> SL sách đã bán</a>
                        <a class="nav-link submenu-nav-link"   type="button" role="tab"  ><i class="bi bi-x-diamond"></i> SL đơn hàng</a>
                        <a class="nav-link submenu-nav-link"   type="button" role="tab"  ><i class="bi bi-boxes"></i> Doanh thu</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="nav-link "   type="button" role="tab" ><i class="bi bi-people-fill"></i> Quản lý người dùng</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
