@charset "utf-8";

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #f0f0f0;
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}

.td_titleBook {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.mainct input,
button {
  border: 0 none;
  outline: 0 none;
}

.product-image img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}

.mainct input,
button,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

.hide {
  display: none;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 70%;
}

.basket-module {
  color: #111;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 48%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 1.625rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #111;
  font-weight: bold;
  display: inline-block;
  padding: 0.625rem 0;
}
.td-giaGiam {
  font: 1em sans-serif;
  font-size: 15.6px;
  color: #333333;
}
.td-giaCu {
  font: 1em sans-serif;
  font-size: 13px;
  color: #7a7e7f;
}
.td-giaTong {
  color: #c92127;
  font-weight: bold;
  font-size: 1.2em;
}
li.price:before,
li.subtotal:before {
  content: "";
}
.item {
  width: 51%;
  margin-left: 10px;
}
.price,
.quantity {
  width: 16%;
}
.subtotal {
  width: 14%;
}

.subtotal {
  text-align: right;
}

.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 10px;
  text-align: right;
  width: 40%;
}

.remove button {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.bi-trash3 {
  font-size: 27px;
}
.bi-trash3:hover {
  color: red;
  cursor: pointer;
}

.item-heading {
  padding-left: 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  background-color: #eeeeee;
  border-radius: 7px;
  padding: 1rem 0;
  position: relative;
  margin-top: 10px;
}

.product-image {
  width: 30%;
}
.product-image img {
}

.product-details {
  width: 55%;
}

/* .product-frame {
  border: 1px solid #aaa;
} */

.product-details {
  padding: 0 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.quantity-field {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 0.625rem;
  padding: 2px;
  width: 3.75rem;
}
.mainct {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 1260px;
  background-color: red;
  position: relative;
  height: 1800px;
}
aside {
  float: right;
  position: relative;
  width: 30%;
  background-color: red;
}

.summary {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 1rem;
  /* position: fixed; */
  margin-top: 30px;
  width: 350px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 1.4rem;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}

.summary-promo {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8b0000;
  float: left;
  text-align: right;
  width: 30%;
}

.summary-delivery {
  padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  text-transform: uppercase;
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}

@media screen and (max-width: 640px) {
  aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
}

@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}

/*  */
.input-number {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  outline: none;
}

.input-number:focus {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

/* pay radio */
.td-khung {
  display: flex;
  width: 100%;
}

.td-khung2,
.td-khung1 {
  width: 50%;
  height: 100px;
}

.fhs-radio-big-with-icon-container {
  display: flex;

  margin-top: 10px;
  bottom: 10px;
}

.fhs-radio-big {
  display: inline-table;
  position: relative;
  /* padding-right: 20px; */
  padding-left: 30px !important;
  font-weight: normal !important;
  font-size: 1em !important;
  cursor: pointer;
}

.fhs-payment-name {
  margin: 4px 0 0 10px;
  flex: 1;
}
.fhs-payment-name-with-icon-container {
  display: flex;
}
.radiomark-big:after {
  content: "";
  position: absolute;
  display: none;
}
.fhs-radio-big input:checked ~ .radiomark-big {
  border: 2px solid #c92127;
}

.radiomark-big {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #272525;
  border-radius: 50%;
}
.fhs-radio-big .radiomark-big:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: #c92127;
}
.fhs-radio-big input:checked ~ .radiomark-big:after {
  display: block;
}

.fhs-payment-name-with-icon-container img {
  width: 35px;
}
